@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
}
body {
  background-color: rgb(218, 218, 218);
  font-family: "Roboto Condensed", sans-serif;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  height: 80px;
}

#cards {
  margin-left: 90px;
  margin-bottom: 33px;
  margin-right: 70px;
  width: 350px;
}
